html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #2d3142;
}
#logo {
  flex: 0.5;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#logo_text {
  font-size: calc(4rem);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(8px, -10px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-8px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
#games {
  flex: 1;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#gamemode1,
#gamemode2 {
  flex: 1;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  background: #4f5d75;
  border-color: #a020f0;
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 0 10px #a020f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game_title {
  font-size: 2rem;
}
#letter {
  font-size: 2.5rem;
}
#button_container {
  display: flex;
  gap: 10px;
}
.buttons {
  padding: 8px;
  border-radius: 10px;
  background: #0fb90f;
  color: #ffffff;
  border-color: #0fdd0f;
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 0 10px #0fdd0f;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.buttons:hover {
  background: #0fdd0f;
}

#gamemode1_button {
  background: #d60000;
  box-shadow: 0 0 10px #ff0000;
  border-color: #ff0000;
}
